<div class="container-fluid bg-1">
  <img id="profileImg" src="assets/me.jpg" class="img-circle">
  <h2 id="intro">Hi! I'm Martin and this is my CV.</h2>
  <h3 id="shortSummary">I love programming, music and sports!</h3>
</div>
<div class="row">
  <div class="userInfo container-fluid col-md-6 text-center">
    <h2><span class="glyphicon glyphicon-info-sign"></span> Main information </h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let attribute of info">
        <span>{{attribute}}</span>
      </li>
    </ul>
  </div>
  <div class="container-fluid col-md-6 text-center">
    <div class="userPictures">
      <img class="img-circle col-md-4" src="../../../assets/programming.jpg">
      <img class="img-circle col-md-4 userPictures__music" src="../../../assets/music.jpg">
      <img class="img-circle col-md-4" src="../../../assets/sports.jpg">
    </div>
  </div>
</div>
