.userInfo {
  margin-top: 15px;
  border-radius: 10px;
}

.userPictures {
  margin-top: 50px;
}

.list-group-item {
  color: #000;
}

@media (max-width: 640px) {
  .userPictures__music {
    height: 225px;
    width: 255px;
  }
}
