<div class="row">
  <div class="schoolingsContainer container-fluid col-md-6 text-center">
    <h2><span class="glyphicon glyphicon-book"></span> My additional schoolings </h2>
    <ul class="list-group">
      <li class=list-group-item *ngFor="let attribute of schoolings">
        <span>{{attribute.year}}</span>
        <p> Description: {{attribute.description}}</p>
      </li>
    </ul>
  </div>
  <div class="container-fluid col-md-6 text-center">
    <div class="instruments">
      <img class="img-circle col-md-4" src="../../../assets/drums.jpg">
      <img class="img-circle col-md-4" src="../../../assets/guitar.png">
      <img class="img-circle col-md-4" src="../../../assets/piano.png">
    </div>
  </div>
</div>
