<div class="row">
  <div class="workexperienceContainer col-md-6 text-center">
    <h2><span class="glyphicon glyphicon-wrench"></span> My work experience </h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let job of jobs">
        {{job.year}}
        {{job.month}}
        <div>{{job.jobName}}</div>
      </li>
    </ul>
  </div>
  <div class="col-md-6 work-experience-container">
    <img class="img-circle col-md-4" src="../../../assets/swedbank.jpg">
    <img class="img-circle col-md-4 netgroup" src="../../../assets/netgroup.png">
    <img class="img-circle col-md-4 netgroup" src="../../../assets/singleton.jpg">
  </div>
</div>
