.extraInfoContainer {
  border-radius: 10px;
  margin-top: 15px;
}

.list-group-item {
  color: #000;
}

.weak {
  margin-top: 9px;
}

#linkedIn {
  margin-top: 28px;
}

#Driver {
  margin-top: -8px;
}
