<div class="row extraInfoContainer container-fluid text-center">
  <h2><span class="glyphicon glyphicon-plus"></span> My extra info </h2>
  <div class="col-sm-6">
    <h3><span class="glyphicon glyphicon-ok"></span> My strong points </h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let strongPoint of strongPoints">
        <span>{{strongPoint}}</span>
      </li>
    </ul>
    <h3><span class="weak glyphicon glyphicon-remove"></span> My weak points </h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let weakPoint of weakPoints">
        <span>{{weakPoint}}</span>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="hobbiesBox">
      <h3><span class="glyphicon glyphicon-headphones"></span> My hobbies </h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let hobby of hobbies">
          <span>{{hobby}}</span>
        </li>
      </ul>
    </div>
    <h3 id="Driver"><span class="glyphicon glyphicon-road"></span> Drivers license? </h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span> <span class="theme-blue"> const </span>driversLicense = {{driversLicense}};</span>
      </li>
    </ul>
    <h3 id="linkedIn"><span class="glyphicon glyphicon-search"></span> Linkedin profile </h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span>Here:
          <a href="https://www.linkedin.com/in/martin-nõukas-1a9229119">{{linkedInProfile}}</a>
        </span>
      </li>
    </ul>
  </div>
</div>

<footer class="footer col-md-12 container-fluid bg-4 text-center">
  <p>Martin Nõukas 2017. Programmed with Angular 2.</p>
</footer>

