<div class="row">
  <div class="educationContainer container-fluid col-md-6 text-center">
    <h2><span class="glyphicon glyphicon-education"></span> My education </h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let attribute of educations">
        <span>{{attribute.year}}</span>
        <p> Name: {{attribute.school}}</p>
      </li>
    </ul>
  </div>
  <div class="container-fluid col-md-6 text-center">
    <div class="educationPictures">
      <img class="img-circle col-md-4" src="../../../assets/viimsi.jpg">
      <img class="img-circle col-md-4" src="../../../assets/itk.jpg">
      <img class="img-circle col-md-4" src="../../../assets/viimsiMusic.jpg">
    </div>
  </div>
</div>
