<div class="row skillsContainer container-fluid text-center">
  <h2><span class="glyphicon glyphicon-star"></span> My skills </h2>
  <div class="col-sm-6">
    <h3><span class="glyphicon glyphicon-off"></span> Programming abilities </h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let skill of skills">
        {{skill}}
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3><span class="glyphicon glyphicon-user"></span> Languages </h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let language of languages">
        <b> {{language.language}} </b>
        <div style="font-style: oblique"> {{language.ability}} </div>
      </li>
    </ul>
    <h3><span class="glyphicon glyphicon-list-alt"></span> Other skills </h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let otherSkill of otherSkills">
        {{otherSkill}}
      </li>
    </ul>
  </div>
</div>
