/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-image: url(assets/background.jpg);
  background-attachment: fixed;
}

.bg-1 {
  text-align: center;
}

#content {
  width: 100%;
  /* Full Width */
  height: 1px;
  margin: 1px auto;
  background: #000;
  line-height: 90px;
  font-size: 2em;
}

@media screen and (max-width: 1100px){
  .work-experience-container {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .work-experience-container {
    text-align: center;
  }
  .img-circle {
    margin-top: 36px;
  }
}


.expand {
  width: 100%;
  height: 1px;
  margin: 1px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.7);

  /*adjust speed here */
  -moz-animation: fullexpand 1.5s ease-out;
  -webkit-animation: fullexpand 1.5s ease-out;
}

/* Full Width Animation Bar */

@-moz-keyframes fullexpand {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes fullexpand {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.footer {
  color: #ffffff;
  margin-top: 10px;
}

#profileImg {
  padding-top: 1em;
}

#intro, #shortSummary {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 998px) {
  .row {
    display: block;
  }

  .netgroup {
    height: 300px;
    width: 330px;
  }
}

@media (min-width: 999px) {
  .row {
    display: flex;
    align-items: center;
  }
}

.skillsContainer,
.extraInfoContainer {
  display: block;
}

.theme-blue {
  color: blue;
}

.list-group-item {
  padding: 16px 15px;
}